<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VRplayerAndUnity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8439C70E1D18EE360050C898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8439C7271D18EE370050C898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8439C7321D18EE370050C898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
